.invoice-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
  min-width: 400px;
}

.full-width {
  width: 100%;
}

.row-fields {
  display: flex;
  gap: 16px;
}
.half-width {
  flex: 1;
}